body {
    background-image: url("images/bananas.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#start_container {
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 130px;
    background-image: url("images/mosaic.png");
   
}

#question_container {
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 130px;
    background-image: url("images/mosaic.png");
  
}

#title {
    text-align: center;
    color: limegreen;
    font-size: 45px;
    padding: 1em;
    font: 'Lucida Sans'; 
}

#startBtn {
    margin-left: 35%;
    margin-top: 30%; 
    display: block;
    
}